@model NumberGuessingGame.ViewModels.Game

@{
    ViewBag.Title = "Index";
}

@if (Model.SecretNumber.Count > 0)
{
    <h2>@Html.NumberToSwedish(Model.SecretNumber.Count) gissningen</h2>
}
else
{
    <h2>Gissa på det hemliga talet</h2>
}

@Html.Partial("_GuessForm")

@if (Model.SecretNumber.Count > 0)
{
    <p>
        @switch (Model.SecretNumber.LastGuessedNumber.Outcome)
        {
            case Outcome.Low:
                @:@Model.SecretNumber.LastGuessedNumber.Number är för lågt.
                break;
            case Outcome.High:
                @:@Model.SecretNumber.LastGuessedNumber.Number är för högt.
                break;
            case Outcome.OldGuess:
                @:Du har redan gissat på @Model.SecretNumber.LastGuessedNumber.Number!
                break;
            default:
                break;
        }
    </p>
}

<ul>
@foreach (var guess in Model.SecretNumber.GuessedNumbers)
{
    <li>@Html.GuessToText(guess)</li>
}
</ul>